{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap"
      rel="stylesheet"
    />
    <!--Stylesheet-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/login.css' %}"
    />
  </head>
  <body>
    <div class="background">
      <div class="shape"></div>
      <div class="shape"></div>
    </div>
    <form action="{% url 'register' %}" method="post" id="form">
      {% csrf_token %} {% include 'partials/_messages.html' %}

      <h3>Create Account</h3>

      <label for="username">Username</label>
      <input
        type="text"
        name="username"
        placeholder="Username"
        id="usernameField"
      />
      <div
        class="invalid_feedback invalid-feedback"
        style="display: none"
      ></div>
      <p class="text-sm text-success usernameSuccessOutput"></p>

      <label for="email">Email</label>
      <input
        type="email"
        name="email"
        placeholder="Email Address"
        id="emailField"
      />
      <div class="emailFeedbackArea" style="display: none"></div>

      <label for="password">Password</label>
      <input
        type="password"
        name="password"
        placeholder="Password"
        id="passwordField"
      />
      <small class="showPassword">SHOW</small>

      <button class="submit-btn">Sign Up</button>
      <div class="register-password">
        <a href="{% url 'login' %}">Back to Login</a>
      </div>
      <div class="register-password forgot-pass">
        <a href="resetpassword.html">Forgot Password?</a>
      </div>
      <div class="social">
        <div class="go"><i class="fab fa-google"></i> Google</div>
        <div class="fb"><i class="fab fa-facebook"></i> Facebook</div>
      </div>
    </form>
    <script
      src="/docs/4.4/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
    <script type="text/javascript" src="{% static 'js/register.js' %}"></script>
  </body>
</html>
