{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Design by foolishdeveloper.com -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap"
      rel="stylesheet"
    />
    <!--Stylesheet-->
    <style media="screen"></style>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/login.css' %}"
    />
  </head>
  <body>
    <div class="background">
      <div class="shape"></div>
      <div class="shape"></div>
    </div>
    <form id="form-reset">
      <h3>Trouble Logging In?</h3>
      <p>
        Enter your Username or Email and we will send You a link to reset your
        account.
      </p>

      <input
        type="text"
        name="username"
        placeholder="Username or Email"
        id="username"
      />

      <button>Reset Password</button>
      <div class="register-password">
        <a href="register.html">Create an Account</a>
      </div>
      <div class="register-password forgot-pass">
        <a href="login.html">Back to Login</a>
      </div>
    </form>
  </body>
</html>
