[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
django-heroku = "*"
gunicorn = "*"
python-decouple = "*"
validate-email = "*"
django-chartjs = "*"
pandas = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth = "*"
django-environ = "*"

[dev-packages]

[requires]
python_version = "3.10"
