{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Budg Expense Manager</title>
    <link
      href="https://fonts.googleapis.com/css?family=Ubuntu:300,500,700"
      rel="stylesheet"
    />
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet" />
    
    <script
      src="https://kit.fontawesome.com/21fe399584.js"
      crossorigin="anonymous"
    ></script>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  </head>
  <body>
    <!--Hader Navigation-->
    <header class="top-nav">
      {% if user.is_authenticated %}
      <a class="logo-container" href="{% url 'home' %}">
        <div class="logo-icon">
          <i class="fas fa-chart-line"></i>
        </div>
        <div class="logo-text">
          <h2>Budg</h2>
        </div>
      </a>
      {% else %}
      <a class="logo-container" href="{% url 'base' %}">
        <div class="logo-icon">
          <i class="fas fa-chart-line"></i>
        </div>
        <div class="logo-text">
          <h2>Budg</h2>
        </div>
      </a>
      {% endif %}
      <div class="nav-link-right">
        <ul>
          {% if user.is_authenticated %}
          <li class="w-768">
            <span>Hi, {{request.user}}</span>
          </li>
          {% comment %}
          <li class="w-768">
            <span>{{email}}</span>
          </li>
          {% endcomment %}
          <li>
            <a href="{% url 'logout' %}">Logout</a>
          </li>
          {% else %}
          <li>
            <a href="{% url 'login' %}">Login</a>
          </li>
          {% endif %}

          <li class="max-1200" id="navOpener">
            <i class="fas fa-bars"></i>
          </li>
        </ul>
      </div>
    </header>
    {% include 'partials/_messages.html' %}
    <!--Hader Navigation-->

    <!--- Main Content -->
    <main class="main">
      <!-- Sidebar -->
      <aside class="main-sidebar-nav">
        <ul class="wrapper">
          <li class="active">
            <a href="">
              <i class="fas fa-columns"></i>
              <span>Dashboard</span>
            </a>
          </li>
          <li>
            <a href="{% url 'home' %}">
              <i class="fas fa-chart-bar"></i>
              <span>Expenses</span>
            </a>
          </li>
          <li>
            <a href="{% url 'income' %}">
              <i class="fas fa-cog"></i>
              <span>Income</span>
            </a>
          </li>
          <li>
            <a href="{% url 'expense_stats' %}">
              <i class="fas fa-file-invoice-dollar"></i>
              <span>Expenses Summary</span>
            </a>
          </li>
          <li>
            <a href="{% url 'income_stats' %}">
              <i class="fas fa-file-invoice-dollar"></i>
              <span>Income Summary</span>
            </a>
          </li>
          <li>
            <a href="{% url 'options'%}">
              <i class="fas fa-hands-helping"></i>
              <span>General</span>
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <i class="fas fa-hands-helping"></i>
              <span>Account</span>
            </a>
          </li>
        </ul>
      </aside>
      <!-- Sidebar -->

      <!--Main Area-->
      <div class="main-area container-fluid">
        <div class="row">
          {% if user.is_authenticated %} {% block content %} {% endblock %} 
          {% else %}
          <h2>
            kindly login to start managing your finances and enjoy some cool
            features
          </h2>
          <a href="{% url 'register' %}">click here to create an account</a>
          {% endif %}
        </div>
      </div>

      <!--Main Area-->
    </main>

    <!--- Main Content -->
    <script type="text/javascript" src="{% static 'js/vendor.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>

    <script
      src="/docs/4.4/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>

    {% comment %}
    <script src="{% static 'js/searchExpenses.js' %}"></script>
    {% endcomment %}
    <script src="{% static 'vendor/chart.js/Chart.js' %}"></script>
    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'js/searchExpensestT.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </body>
</html>
