{% extends 'expenses/base.html' %} {% load static %} {% block content %}
<div class="main-area container-fluid">
  <div class="row">
    {% include 'partials/summary.html' %} 
    {% if expenses.count %}
    <div
      id="normalExpense"
      class="col-sm-12 col-md-12 col-lg-4 transaction-history"
    >
      <div class="card shadow">
        <div class="card-header text-center">
          <i class="fas fa-file-signature"></i>Transactions / Expenses
          <div id="new-expense">
            <a href="{% url 'add_expense' %}"
              ><button id="new-expense" class="btn btn-info">
                Add Expense
              </button></a
            >
          </div>
        </div>

        <div class="card-body">
          {% for expense in expenses %}
          <ul class="transaction-history-wrapper">
            <li>
              <div class="row">
                <div class="col-8 f">
                  <!-- <i class="fab fa-aviato"></i> -->
                  <span class="spending-text">
                    <span class="heading"> {{expense.description}} </span>
                    <span class="sub">{{expense.date}}</span>
                    <span class="sub2">category: {{expense.category}}</span>
                  </span>
                </div>

                <div class="col-4 amt-right">
                  <span class="amount expense"> {{expense.amount}} </span>
                  <span>
                    <a href="{% url 'edit_expense' expense.id %}"
                      ><button class="trash">
                        <i class="fa-regular fa-pen-to-square"></i></button
                    ></a>

                    <a href="{% url 'delete_expense' expense.id %}"
                      ><button class="trash">
                        <i class="fa-regular fa-trash-can"></i></button
                    ></a>
                  </span>
                </div>
              </div>
            </li>
          </ul>
          {% endfor %}
        </div>

        {% comment %}
        <div class="card-footer">
          <div class="transaction-footer">
            <div class="missing-transactions">
              <span>
                Showing Page {{page_object.number}} of
                {{page_object.paginator.num_pages}}</span
              >
            </div>

            <div>
              <button class="btn btn-info"><<</button>
              <button class="btn btn-info">2>></button>
            </div>
          </div>
        </div>
        {% endcomment %}
      </div>
    </div>
    {% comment %} search expense {% endcomment %} {% endif %}
  </div>
</div>
{% comment %}
<script src="{% static 'js/searchExpenses.js' %}"></script>
{% endcomment %}
<script src="{% static 'js/searchExpensestT.js' %}"></script>

{% endblock content %}
