{% extends 'expenses/base.html' %} {% load static %} {% block content %}
<div class="main-area container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-8 main-area-content">
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
          <div class="card shadow">
            <div class="card-body">
              <div class="imp-info income-txt">
                <span class="info-text"> Income </span>
                <span class="info-amt bold"> $ 18,046 </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
          <div class="card shadow">
            <div class="card-body">
              <div class="imp-info expense-txt">
                <span class="info-text"> Expense Summary </span>
                <span class="info-amt bold"> $ 46,046 </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% if expenses.count %}
    <div class="col-sm-12 col-md-12 col-lg-4 transaction-history">
      <div class="card shadow">
        <div class="card-header text-center">
          <i class="fas fa-file-signature"></i>Transactions / Expenses
          <div id="new-expense">
            <a href="{% url 'add_expense' %}"
              ><button id="new-expense" class="btn btn-info">
                Add Expense
              </button></a
            >
          </div>
        </div>

        <div class="card-body">
          {% for expense in page_object %}
          <ul class="transaction-history-wrapper">
            <li>
              <div class="row">
                <div class="col-8 f">
                  <!-- <i class="fab fa-aviato"></i> -->
                  <span class="spending-text">
                    <span class="heading"> {{expense.description}} </span>
                    <span class="sub">{{expense.date}}</span>
                    <span class="sub2">category: {{expense.category}}</span>
                  </span>
                </div>

                <div class="col-4 amt-right">
                  <span class="amount expense"> {{expense.amount}} </span>
                  <span>
                    <a href="{% url 'edit_expense' expense.id %}"
                      ><button class="trash">
                        <i class="fa-regular fa-pen-to-square"></i></button
                    ></a>

                    <a href="{% url 'delete_expense' expense.id %}"
                      ><button class="trash">
                        <i class="fa-regular fa-trash-can"></i></button
                    ></a>
                  </span>
                </div>
              </div>
            </li>
          </ul>
          {% endfor %}
        </div>

        <div class="card-footer">
          <div class="transaction-footer">
            <div class="missing-transactions">
              <span>
                Showing Page {{page_object.number}} of
                {{page_object.paginator.num_pages}}</span
              >
              {% comment %}
              <div class="pagination">
                <span class="step-links">
                  {% if page_obj.has_previous %}
                  <a href="?page=1">&laquo; first</a>
                  <a href="?page={{ page_obj.previous_page_number }}"
                    >previous</a
                  >
                  {% endif %} {% if page_obj.has_next %}
                  <a href="?page={{ page_obj.next_page_number }}">next</a>
                  <a href="?page={{ page_obj.paginator.num_pages }}"
                    >last &raquo;</a
                  >
                  {% endif %}
                </span>
              </div>
              {% endcomment %}
            </div>

            <div>
              <button class="btn btn-info"><<</button>
              <button class="btn btn-info">2>></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock content %}
