{% extends 'expenses/base.html' %} 
{% load static %} 
{% block content %}

{% include 'partials/summary.html' %}
    <div class="col-sm-12 col-md-12 col-lg-4 transaction-history">
      <div class="card shadow">
        <div class="card-header text-center">
          <i class="fas fa-file-signature"></i>Transactions / Expenses
          <div id="new-expense">
            <a href="{% url 'add_expense' %}"
              >
              <i class="fa-regular fa-plus" id="new-expense"></i>
              </a
            >
          </div>
        </div>
        <div class="card-body">
          {% for search in s_expenses %}
          <ul id="normalExpense" class="transaction-history-wrapper">
            <li>
              <div class="row">
                <div class="col-8 f">
                  <!-- <i class="fab fa-aviato"></i> -->
                  <span class="spending-text">
                    <span class="heading"> {{search.description}} </span>
                    <span class="sub">{{search.date}}</span>
                    <span class="sub2">category: {{search.category}}</span>
                  </span>
                </div>

                <div class="col-4 amt-right">
                  <span class="amount expense">$ {{search.amount}} </span>
                </div>
              </div>
            </li>
          </ul>
          {% endfor %}
        </div>

        <div class="card-footer">
          <div class="transaction-footer">
            <div class="missing-transactions">
              <span>
                Showing Page {{s_expenses.number}} of
                {{s_expenses.paginator.num_pages}}</span
              >
            </div>
    {% if s_expenses.has_previous %}
       <button class="btn btn-info"><a href="?page={{ s_expenses.previous_page_number }}">Previous</a></button>
    {% endif %}
    {% for page_number in s_expenses.paginator.page_range %}
        {% if page_number == s_expenses.number %}
            <strong>{{ page_number }}</strong>
        {% else %}
            <a href="?page={{ page_number }}">{{ page_number }}</a>
        {% endif %}
    {% endfor %}
    {% if s_expenses.has_next %}
        <button class="btn btn-info"><a href="?page={{ s_expenses.next_page_number }}">Next</a></button>
    {% endif %}
          </div>
        </div>

      </div>
    </div>
    {% endblock content %}
  </div>
</div>
